*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
    --color-call-to-action: #080B12
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* FLEX */

.d-flex{
    display: flex;
}

/* UTILITY */
h3{
    color: #ffffff;
    font-weight: 800;
}
h4{
    color: #ffffff;
    font-weight: 800;
}
small{
    color: var(--color-grey);
}
.text-center{
    text-align: center;
}
.pt-10{
    padding-top: 10px;
}
/* CONTAINER */

.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: var();
}
#sidebar{
    width: 250px;
    background-color: var(--color-black);
}
#main-content{
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    overflow-y: auto;
    padding: 90px 10px 0px 10px;
}
#call-to-action{
    background-color: var(--color-call-to-action);
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--color-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.btn{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    color: #ffffff;
    background-color: var(--color-call-to-action);
    position: absolute;
    top: 15px;
    right: 0;

}
a{
    text-decoration: none;
}

/* CARD */

.card{
    /* width: calc(100% / 6 - 20px); */
}
.card-content{
    width: 100%;

   
}
.card-img{
    /* width: 20px; */
    /* height: 20px; */
}
.album{
    display: inline-block;
    width: 90%;
    
    
}